@keyframes anim-bottom {
  0% {
    bottom: -400px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
:root {
  --optional-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --first-font: "JetBrains Mono";
  --max-width: 1400px;
  --menu-left-width: 20vw;
  --bg-primary-matrix: rgba(24, 103, 105, 0.253);
  --bg-nav-matrix: rgba(18, 29, 29, 0.897);
  --txt-primary-matrix: rgba(13, 198, 201, 0.582);
  --dt-matrix: rgba(0, 99, 99, 0.356);
  --dt-matrix-alt: #01444477;
  --base-text: 14px;
}
@media screen and (min-width: 1370px) {
  :root {
    --base-text: 15px;
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #3f6669;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  border: 2px solid #000000d0;
  outline: 2px solid #000000d0;
}
::-webkit-scrollbar-button {
  background-color: transparent;
  height: 5px;
  width: 5px;
}

.main-home {
  position: relative;
}
.main-home::after {
  content: "";
  z-index: -1;
  background: teal url("./assets/img/home1.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0.2);
}

.playground.main-home::after {
  filter: brightness(0.05);
}

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
.container.is__full__size {
  min-height: 100vh;
}
.container.abs-center--items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dt {
  border: thin solid var(--dt-matrix);
  border-radius: 3px;
}
.dt-2-mtx {
  border-width: 2px;
}
.dt-l-r {
  border-left: thin solid var(--dt-matrix-alt);
  border-right: thin solid var(--dt-matrix-alt);
}

.link {
  color: teal;
  background-color: rgba(40, 43, 43, 0.5);
}

.menu {
  background-color: var(--bg-nav-matrix);
}
.menu--top {
  height: 60px;
  border: thin solid var(--dt-matrix-alt);
}
.menu--left {
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: width 0.5s ease-in-out, opacity 0.35s ease-out 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  top: 60px;
}
.menu--left.is-active {
  pointer-events: auto;
  opacity: 1;
  width: var(--menu-left-width);
}

.matrix--box {
  background-color: var(--bg-primary-matrix);
  border: 2px solid var(--dt-matrix);
  border-radius: 3px;
}

.l-center {
  display: flex;
  align-items: center;
  align-content: center;
}

.btn {
  display: inline-flex;
  padding: 0.5rem 0.75rem;
  border: 1px solid transparent;
  border-radius: 3px;
}